
{% extends 'layout.html' %}
{% block title %} PAGE NOT FOUND | NSE {% endblock %}

{%block body%}

<section class="section">
	<div class = "container text-center">	
		   <h1><b> THIS PAGE DOESN'T EXIST </b></h1>
		   <p style="padding: 15px 15px;">Uh Oh... something didn't work. This page doesn't seem to exist. You might have followed a bad link or mistyped the address, feel free to try again.</p>
		   <a href="/product" class="btn btn-lg btn-transparent"> CONTINUE SHOPPING</a>
	</div>
</section>

{% endblock %}
