<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{tab}} | Admin</title>

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/froala_editor.pkgd.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin.css')}}">
</head>
<body>


   <section style="min-height: 90px; overflow: hidden; background: #23282d;">
     <div class="col-md-1 col-sm-2 col-xs-12 text-center" style="padding: 15px;"><a href="/"><img src="https://www.naturallysplendid.com/static/media/logo2x.png" style="width: 75px; display: inline;"></a></div>
 
    <ul id="horizontal_nav" class="col-md-11 col-sm-10 col-xs-12">
        <li><a href="/read_queries"> <img src="https://www.naturallysplendid.com/static/media/chat.png" style="width: 30px;"> <br/> <span>Customer Queries</span>  {% if read_queries >=1 %}<span class="badge">{{read_queries}}</span>{% endif %}</a></li>
        <li><a href="/logout"> <img src="https://www.naturallysplendid.com/static/media/logout.png" style="width:30px;"> <br/><span> Log Out </span></a></li>
    </ul>
   </section>
   



 

<div class="nav nav-pills nav-stacked col-md-1 col-sm-2 admin_navbar">
  

  {% if tab =='media' %}<li class ="active admin">{% else %}<li class="admin">{% endif %}<a href="/admin/media"><img src="https://www.naturallysplendid.com/static/media/photo-camera.png"> <span> Media </span> </a></li>

  {% if tab =='users'%}<li class="active admin"> {% else %}<li class="admin"> {% endif %}<a href="/read_users"> <img src="https://www.naturallysplendid.com/static/media/networking.png"> <span>Users</span> {% if authentication_requests >=1 %}<span class="badge">{{authentication_requests}}</span>{% endif %}</a></li>

  {% if tab == 'subscribers' %}<li class="active admin"> {% else %}<li class="admin"> {% endif %}<a href="/admin/subscribers"><img src="https://www.naturallysplendid.com/static/media/networking.png"> <span>Subscribers</span> <span class="badge">{{num_of_subscribers}}</span></a></li>
  

  {% if tab =='events' %}<li class="active admin">{% else %}<li class="admin">{% endif %}<a href="/admin/events"><img src="https://www.naturallysplendid.com/static/media/calendar.png"> <span> Events </span> </a></li>


  {% if tab =='blog' %}<li class="active admin">{% else %}<li class="admin">{% endif %}<a href="/admin/blog"><img src="https://www.naturallysplendid.com/static/media/scholarship.png"> <span>Blogs</span></a></li>

  {% if tab =='status' %}<li class ="admin active"> {% else %} <li class ="admin"> {% endif %}<a href="/admin/status"><img src="https://www.naturallysplendid.com/static/media/clipboard.png"> <span>Orders</span> {% if read_orders >=1 %}<span class="badge">{{read_orders}}</span>{% endif %} </a></li>


  <li class="admin">
</div>

<div class="col-md-11 col-sm-10" style="height: 100vh; overflow: auto; padding: 15px;">

    {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}
        {% for category, message in messages %}
           <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
     



 {% block body %} {% endblock %}



   {% if tab =="media" %}


   <div  class="row" id="media">

      <div class="col-md-9">
        <form action="/update_media/{{page}}" method="post">
            <div class="box-style3">
              <button type="submit" class="btn btn-danger btn-sm"> Delete <i class="fa fa-trash"></i> </button>
            </div>
            <ul>
            {% for file in media.items %}           
                <li onclick="side_view('/static/media/{{file.url}}');">
                  <input type="checkbox" id="cb{{file.media_ID}}" name="cb{{file.media_ID}}" />
                  <label for="cb{{file.media_ID}}"><img src="/static/media/{{file.url}}"/></label>
                </li>               
            {% endfor %}
            </ul>

            <div class="text-center">
              {% if prev_url_media %} <a href="{{ prev_url_media }}" style="margin-right:5px;" class="btn paginate-btn"><i class="fa fa-arrow-left"></i></a> {% endif %}
              {% if next_url_media %} <a href="{{ next_url_media }}" class="btn paginate-btn"> <i class="fa fa-arrow-right"></i> </a> {% endif %}
            </div>
        </form>
      </div>

      <div class="col-md-3">
        <form  action="/upload_media" method="post" enctype="multipart/form-data" class="box-style3"> 
            <div class="form-group">
                  <div class="input-group">
                      <input type="text" class="form-control" readonly>
                      <div class="input-group-btn">
                            <span class="fileUpload btn btn-primary">
                              <span class="upl" id="upload"> <i class="fa fa-plus"></i> </span>
                              <input type="file" class="upload up" name="image" id="up" onchange="readURL(this);"  multiple required />
                            </span><!-- btn-orange -->
                      </div><!-- btn -->
                  </div><!-- group -->
            </div><!-- form-group --> 
            <button type="submit" class="btn btn-primary btn-sm"> Upload <i class="fa fa-upload"></i> </button>
        </form>
        <section class="box-style3">          
            <div style="font-size: 11px;">
                 <a id="open_img"><img id="selected_img" class="img-responsive"></a>
                 <p id="small_url"></p>
                 <p id="large_url"></p>
            </div>          
        </section>
      </div>
  </div>    

{% endif %}


 


{% if tab == 'update_blog'%}
  <div class="col-md-12">
     <form action="/update_blog_form/{{update_blog.blog_ID}}" method="post" enctype="multipart/form-data" role="form">
        <div class="row">
            <div class="col-md-3">
              <div class="box-style3">
                <input type="text" name="blogtitle" placeholder="Blog Title" class="form-control form-group" value="{{update_blog.blog_topic}}" required>              
                <input type="text" name="img_url" value="{{update_blog.img_url}}" placeholder="Image url" class="form-control form-group" required>
                <img src="{{update_blog.img_url}}" class="img-responsive form-group">
                <hr/>
                <button type="submit" class="btn btn-primary btn-sm"> Update <i class="fas fa-check-circle"></i></button> 
              </div>
            </div>
            <div class="col-md-9" style="margin-top: 3px;">                     
                <textarea id="froala-editor" name="description" class="form-control" required>{{update_blog.blog_desc}}</textarea>                    
            </div>
        </div>
     </form>
  </div>
{% endif %}




{% if tab == "update_event" %}

        <form action="/update_event/{{update_event.event_ID}}" method="post" role="form">
              <div class="col-md-8">
                  <div class="box-style3">
                    <div class="row">
                        <div class="col-md-4 form-group">
                              <label>Event Name</label>
                              <input type="text" name="name" class="form-control" value="{{update_event.name}}">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Ticket Price</label>
                            <input type="number" min="0" name="price" class="form-control" value="{{update_event.price}}">
                        </div>
                        <div class="col-md-4 form-group">
                            <label> Number Of Tickets </label>
                            <input type="number" min="0" name="inventory" class="form-control" value="{{update_event.inventory}}" placeholder="Number Of Tickets">
                        </div>
                        <div class="col-md-12">
                          <textarea id="froala-editor" name="description"  class="form-control" rows="6">{{update_event.desc|safe}}</textarea>
                        </div> 
                    </div>  
                  </div>                                                                                                               
              </div>
              <div class="col-md-4">
                  <div  class="box-style3 form-group">
                           
                            <div class="form-group">
                                  <div class="checkbox">
                                      {% if update_event.disable %}
                                          <input type="checkbox" id="disable_{{update_event.event_ID}}" name="disable" checked>
                                      {% else %}
                                          <input type="checkbox" id="disable_{{update_event.event_ID}}" name="disable">
                                      {% endif %}
                                      <label for="disable_{{update_event.event_ID}}"> &nbsp; <b style="color: brown;"> DISABLE THIS EVENT</b> </label>
                                  </div>
                            </div><!-- /input-group -->

                            <div class="form-group">
                                  <div class="checkbox">
                                      {% if update_event.taxable %}
                                          <input type="checkbox" id="taxable_{{update_event.event_ID}}" name="taxable" checked>
                                      {% else %}
                                          <input type="checkbox" id="taxable_{{update_event.event_ID}}" name="taxable">
                                      {% endif %}
                                      <label for="taxable_{{update_event.event_ID}}"> &nbsp; <b style="color: grey;"> TAXABLE </b> </label>
                                  </div>
                            </div><!-- /input-group -->                            
                  </div>
                  

                    <div  class="box-style3">

                          <div class="row">
                              <div class="col-md-12 form-group">
                                <label>Main Image</label>
                                <input type="text" name="mainimage" class="form-control" value="{{update_event.mainimage}}">
                              </div>                         
                    
                              <div class="col-md-12">
                                <img src="{{update_event.mainimage}}" class="img-responsive"> 
                              </div>  
      
                          </div> 
                    </div>

                      <button type="submit"  class="btn-primary btn"> Update <i class="fa fa-check"></i></button>  

                    </div>

                        
            </div>
            

        </form>

        
{% endif %}


</div>


<div id="userprompt" class="userprompt">
        <div class="row">
       <div class="w3-animate-zoom userdialog col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
           <div> Are you sure you want to carry out this action. </div>
                 <hr>
            <div class="pull-right"><a href="#" id="del"><button class="btn btn-danger" > DELETE</button></a></div>
                 <div class="pull-right"><button href="#" class="btn btn-default" style="margin-right:20px;" onclick="close_userprompt()"> CANCEL </button></div>
       </div>
        </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/froala_editor.pkgd.min.js')}}"></script>
<script src="{{url_for('static',filename='js/froala.js')}}"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="{{url_for('static',filename='js/admin_ajax.js')}}"></script>
<script src="{{url_for('static',filename='js/app.js')}}"></script>

</body>
</html>


