{% extends 'admin_layout.html' %}
{%block body%}

    {% if tab =='users' %} 


                <div class="table-container">
                  <section class="row">
                     <div class="col-md-3">
                         <form action="/admin/users" method="POST">
                                <div class="input-group form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Search By Name">
                                    <div class="input-group-btn">
                                      <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                                    </div><!-- group -->
                                </div>
                          </form>
                     </div>
                  </section>
                  <table class="table">

                     <tr>
                       <th>Delete</th>
                       <th>User ID</th>
                       <th>Email </th>
                       <th>User Information </th>
                       <th>Phone</th>
                       <th>Date Activated</th>
                       <th> Role </th>
                     </tr>
                     <form action="{{url_for('delete_users', page = page)}}" method="POST">
                         {% for user in users%}
                           <tr>
                            <td> 
                                 <div class="checkbox">                                   
                                      <input type="checkbox" id="{{user[0]}}" name="delete{{user[0]}}">
                                      <label for="{{user[0]}}"></label>
                                  </div>

                            </td>


                            <td><b>{{user[0]}}</b></td>
                            <td> {{user[3]}}</td>

                            <td> 
                              <i class="far fa-user"></i> {{user[1]}} {{user[2]}} <br/>
                              {% if user[8] == False %}
                                <b>Banking Info:</b> <i class="fa fa-times" style="color: brown;"></i>
                              {% else %}
                                <div style="background: #fff; padding: 10px; border: 1px solid #ddd;">{{user[8]}}</div>
                              {% endif %}
                              {% if user[7]> 0 %}
                                 <div><b> Number Of Sales:</b>{{user[7]}}</div>
                              {% endif %}
                            </td>
                            <td>{{user[4]}}</td>
                            <td>{{user[5]}}</td>
                            <td> 
                                <select class="form-control" name="role{{user[0]}}">
                                  {%if user[6] == 'admin' %}<option value="admin" selected> admin </option>{% endif %}
                                  {%if user[6] == 'user' %}<option value="user" selected> user </option> {% endif %}
                                  {% if user[6] == 'anonymous' %}<option value="anonymous" selected> anonymous</option> {% endif %}
                                </select>
                              </td>
                           
                          </tr>
                        {% endfor %}
                        <tr>
                          <th><button type="submit" class="btn btn-info btn-sm"> Update <i class="fas fa-check-circle"></i></button> </th>
                          <th></th><th></th><th></th><th></th><th></th><th></th>                          
                        </tr>
                      </form>
                  </table>
                  <div class="text-center">
                    {% if prev_url_user %} <a href="{{ prev_url_user }}" class="btn paginate-btn"><i class="fa fa-arrow-left"></i></a>  {% endif %}
                    {% if next_url_user %} <a href="{{ next_url_user }}" class="btn paginate-btn"><i class="fa fa-arrow-right"></i></a> {% endif %}
                  </div>
                    
               </div> 
          
  
    {% endif %}



    {% if tab == 'subscribers' %}

            <div class="table-container">
                <section class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-4 form-group">
                    <form action="/import_subscribers/{{page}}" method="post" enctype="multipart/form-data">
                            <p>** File allowed extension '.csv' <br/> ** Must contain column 'Email'</p>
 
                                      <div class="input-group">
                                        <input type="text" class="form-control" readonly>
                                        <div class="input-group-btn">
                                          <span class="fileUpload btn btn-info">
                                              <span class="upl" id="upload"> <i class="fa fa-plus"></i></span>
                                              <input type="file" accept=".csv" class="upload up" name="file" id="up" onchange="readURL(this);" />
                                            </span><!-- btn-orange -->
                                         </div><!-- btn -->
                                       </div><!-- group -->

                            <button type="submit" class="btn btn-info btn-sm"> Upload <i class="fa fa-upload"></i></button>
                      </form>                    
                  </div>
                </section>

                <table class="table">
                  <tr>
                     <th></th>
                     <th>Email</th>
                     <th></th>
                  </tr>
 
                  {% for subscriber in subscribers.items %}
                    <tr>
                      <td> <i class="fa fa-envelope"></i>  </td>
                      <td>{{subscriber.email}}</td>
                      <td> <a onclick="userprompt('/delete_subscriber/{{subscriber.joinmail_ID}}/{{page}}')" class="red"> <i class="fa fa-trash"></i> </a> </td>
                    </tr>
                  {% endfor %}
                </table>
                <div class="text-center">
                  {% if prev_url_subscriber %} <a href="{{ prev_url_subscriber }}" class="btn paginate-btn"><i class="fa fa-arrow-left"></i></a>  {% endif %}
                  {% if next_url_subscriber %} <a href="{{ next_url_subscriber }}" class="btn paginate-btn"><i class="fa fa-arrow-right"></i></a> {% endif %}
                </div>
                
            </div>          

    {% endif %}

    

     
    <!-- Product tab !-->
    {% if tab =='events' %}
      
          
              <div class="table-container">
                  <section class="row">
                     <div class="col-md-9"></div>
                     <div class="col-md-3">
                         <form action="/add_event" method="post">
                             <div class="input-group form-group">
                                <input type="text" name="name" class="form-control" placeholder="Event Name">
                                <div class="input-group-btn"><button class="btn btn-info"> Add </button></div>
                             </div>
                          </form>
                     </div>
                  </section>
                  <table class="table">
                    <tr>
                      <th></th>
                      <th> Event ID</th>
                      <th> Name </th>
                      <th> Status </th>
                      <th> Inventory </th>
                      <th> Price (cad - $) </th>
                      <th> Taxable </th>
                      <th> </th>
                    </tr>
                    {% for event in events.items %}
                       <tr>
                         <td><img src="{{event.mainimage}}" style="width:80px;"> </td>
                         <td>{{event.event_ID}}</td>
                         <td> <a href="/admin/update_event/{{event.event_ID}}"><b>{{event.name}}</b></a> </td>
                         <td>{% if event.disable %} <b class="red"> Disabled </b> {% else %} <b style="color: darkgreen;"> Active </b> {%endif %}</td>
                         <td>{{event.inventory}} </td>
                         <td>{{event.price}} </td>
                         <td>{% if event.taxable %} <i class="fa fa-check" style="color: darkgreen"></i> {% else %} <i class="fa fa-times red"></i> {% endif %} </td>
                         <td> <a onclick="userprompt('/delete_event/{{event.event_ID}}')"> <img src="https://www.naturallysplendid.com/static/media/delete.png" style="width:20px;"> </a></td>
                       </tr>
                    {% endfor %}
                   
                  </table>
                     

                  <div class="text-center">
                        {% if prev_url_product %} <a href="{{ prev_url_product }}" style="margin-right:5px;" class="btn paginate-btn"><i class="fa fa-arrow-left "></i></a> {% endif %}
                        {% if next_url_product %} <a href="{{ next_url_product }}" class="btn paginate-btn"><i class="fa fa-arrow-right"></i></a> {% endif %}
                  </div>
              </div>
           

        {% endif %}
        <!-- !-->

         

    
       
     

     <!-- Blog !-->
     {% if tab =='blog' %}

          <div class="table-container">
            <section class="row">
              <div class="col-md-8"><h1>Blogs</h1></div>
              <div class="col-md-4">
                <form action="/blog_post" method="post">
                   <div class="input-group form-group">
                    <input type="text" name="blogtitle" class="form-control" placeholder="Blog Name">
                    <div class="input-group-btn"><button class="btn btn-info"> Add <i class="fa fa-plus-circle"></i></button></div>
                   </div>
                </form>
              </div>
            </section>
            <table class="table">
               <tr>
                 <th><img src="https://www.naturallysplendid.com/static/media/photo-camera.png" style="width:20px;"></th>
                 <th> Name </th>
                 <th> Category </th>
                 <th> <img src="https://www.naturallysplendid.com/static/media/clock.png" style="width:20px;"> </th>
                 <th></th>
               </tr>
                {% for blog in blogs.items %}
                    <tr>
                      <td><img src="{{blog.img_url}}" style="width: 60px;"></td>
                      <td> <a href="/update_blog_form/{{blog.blog_ID}}">{{blog.blog_topic}}</a> <br/> <i class="fa fa-eye"></i> {{blog.visits}}</td>
                      <td> {{blog.category}}</td>
                      <td> {{blog.date}} <br/> Published</td>
                      <td>  
                           
                            <a onclick="userprompt('/delete_blog/{{blog.blog_ID}}')"> <img src="https://www.naturallysplendid.com/static/media/delete.png" style="width:20px;"></a>
                      </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="text-center">
               {% if prev_url_blog %} <a href="{{ prev_url_blog }}" class="btn paginate-btn"><i class="fa fa-arrow-left "></i></a>  {% endif %}
               {% if next_url_blog %} <a href="{{ next_url_blog }}" class="btn paginate-btn"><i class="fa fa-arrow-right"></i></a> {% endif %}
            </div>
          </div>
         
         

      {% endif %}
      <!-- !-->

      
      

      {% if tab== 'update_country' %}
            

                <div class="table-container">
                       <section class="row">
                              <div class="col-md-8"><h1>{{update_country.country_name}}</h1></div>
                              <div class="col-md-4">
                                <form action="/add_province/{{update_country.country_ID}}"  method="post">
                                  <div class="input-group">
                                    <input type="text" name="provincename" class="form-control" placeholder="Province Name ">
                                    <div class="input-group-btn"><button type="submit" class="btn btn-info"> Add <i class="fas fa-plus-circle"></i></button></div>
                                  </div>
                                </form>
                              </div>
                       </section>
                       <form action="/update_provinces/{{update_country.country_ID}}" method="post">

                          <table class="table table-striped">
                             <tr>
                                  <th>Name</th>
                                  <th>Regular Rates $</th>
                                  <th>Express Rates $</th>
                                  <th>Free Shipping Threshold $</th>
                                  <th>gst</th>
                                  <th>pst</th>
                                  <th></th>
                              </tr>
                             {% for province in update_provinces%}
                                 <tr>
                                    <td>{{province.province_name}}</td>
                                    <td><input type='number' class='form-control' min='0' step='0.01' name='shippingrate{{province.province_ID}}' value='{{province.shipping_rate}}'></td>
                                    <td><input type='number' class='form-control' min='0' step='0.01' name='expressrate{{province.province_ID}}' value='{{province.air_shipping_rate}}'></td>
                                    <td><input type='number' class='form-control' min='0' step='0.01' name='freeshipping{{province.province_ID}}' value='{{province.set_amount}}'></td>
                                    <td><input type='number' class='form-control' min='0' step='0.01' name='gst{{province.province_ID}}' value='{{province.gst}}'></td>
                                    <td><input type='number' class='form-control' min='0' step='0.01' name='pst{{province.province_ID}}' value='{{province.pst}}'></td>
                                    <td> <a href='/delete_province/{{province.province_ID}}'  class='btn btn-danger btn-sm'> Delete <i class='fa fa-trash'></i></a></td>
                                 </tr>
                              {% endfor %}
                              <tr>
                                <th></th><th></th><th></th><th></th><th></th><th><th><button type="submit" class="btn btn-info"> Update <i class="fa fa-check-circle"></i></button></th>
                              </tr>
                          </table>
                       </form>
               </div>  
           

      {% endif %}
       <!--  !-->
      

      {% if tab == 'status' %}

        <div class="table-container">
          <table class="table table-striped">
             
            <form action="/update_orders/{{page}}" method="POST">            
             <tr>
                <th>Delete</th>
                <th>Sale ID </th>
                <th>Buyer Name </th>
                <th>Subtotal (cad-$)</th>
                <th>Total (cad-$)</th>                
             </tr>
             {% for order in orders.items %}                          
              <tr>
                <td>
                    <div class="checkbox">                                   
                          <input type="checkbox" id="{{order.sale_ID}}" name="delete{{order.sale_ID}}">
                          <label for="{{order.sale_ID}}"></label>
                    </div>
                </td>
                <td>{{order.sale_ID}}</td>
                <td>{{order.firstname}} {{order.lastname}}</td>
                <td><b>{{order.subtotal}}</b></td>
                <td><b>{{order.total}}</b></td>                   
              </tr>
       
            {% endfor %}
            <tr><th><button type="submit" class="btn btn-sm btn-info"> Update <i class="fas fa-check-circle"></i></button><th/><th/><th/><th/></tr>
        </form>
        </table>        

        <div class="text-center">
             {% if prev_url_orders %} <a href="{{ prev_url_orders }}" class="btn paginate-btn"><i class="fa fa-arrow-left"></i></a>  {% endif %}
             {% if next_url_orders %} <a href="{{next_url_orders}}" class="btn paginate-btn"><i class="fa fa-arrow-right"></i></a> {% endif %}
        </div>

 
        </div>
      </div>

        
      {% endif %}



   
      {% if tab =='customer_query' %}

           <form action="/delete_all_queries" method="POST">

                <div class="table-container">

                    <table class="table">
                      <tr>
                        <th> <img src="https://www.naturallysplendid.com/static/media/delete.png" style="width:16px;"></th>
                        <th> </th>
                        <th> Name </th>
                        <th> Email </th>
                        <th> <img src="https://www.naturallysplendid.com/static/media/clock.png" style="width: 16px;"> </th>
                        <th></th>

                      </tr>
                      {% for contact in contacts %}
                        <tr>
                          <td> 
                            <div class="checkbox">                                   
                                  <input type="checkbox" id="delete{{contact.contact_ID}}" name="delete{{contact.contact_ID}}">
                                  <label for="delete{{contact.contact_ID}}"></label>
                            </div>
                          </td>
                          <td> 
                            <img src="https://www.naturallysplendid.com/static/media/message.png"  style="width: 20px;">
                           </td>
                          <td>{{contact.name}}</td>
                          <td>{{contact.email}}</td>
                          <td> {{contact.date}} </td>
                          <td> <a style="cursor: pointer;" onclick="showme('{{contact.contact_ID}}')" class="btn btn-info btn-sm"> View <i class="fa fa-eye"></i></a></td>
                        </tr>
                        <div id="{{contact.contact_ID}}" style="display:none;" class="contact-box">
                              <div class="header"> <b>Name:</b> {{contact.name}} <a style="cursor: pointer; color: #fff;" onclick="showme('{{contact.contact_ID}}')" class="pull-right"><i class="fas fa-times-circle"></i></a> </div>
                              <div class="contact-content"> 
                                 <b> Email: </b>  {{contact.email}} <br/>
                                 <p> {{contact.message|safe }} </p>
                              </div>
                        </div>     
                      {% endfor %}
                      <tr>
                           <th/><th/><th/><th/><th></th>
                           <th> <button type="submit" class="btn-sm btn btn-info"> Update <i class="fa fa-check-circle"></i></button></th>
                      </tr>
                    </table>    
                </div>

            
            </form>

       
           
      {% endif %}



        

{% endblock %}

