 

{% if tab == 'sales' %}

   <section id="sales">
            <div class="col-md-12">
                <div class="box-style3">
                    <h4><b> Select Year: </b> <b id="select_year"></b></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="analytics-btn">
                    <h4><b> Year: </b></h4>
                    <h4><b id="year"></b></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="analytics-btn" >
                    <h4><b> Number Of Sales: </b></h4>
                    <h4><b id="num_of_sales"></b></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="analytics-btn">
                    <h4><b> Sales Total: </b></h4>
                    <h4><b id="total_sales"></b></h4>
                </div>
            </div>           

        <div class="table-container"><div id="daily_sales" style="height: 370px; width: 100%;"></div></div>
        <div class="table-container"><div id="monthly_sales" style="height: 370px; width: 100%;"></div></div>
        

    </section>

{% endif %}


{% if tab == 'dashboard' %}

        
        <div id="dashboard">                
            
            <section class="row">
               <div class="col-md-12">
                   <section class="table-container">
                      <div class="row">
                          <div class="col-md-6">
                             <div id="num_of_sales" style="height: 370px; width: 100%;"></div>
                          </div>
                          <div class="col-md-6">
                             <div id="amount_of_sales" style="height: 370px; width: 100%;"></div>
                          </div>
                      </div>
                   </section>
               </div>  

                <div class="col-md-6">
                    <div class="table-container">
                         <section class="row">
                            <div class="col-md-6">
                                <div class="analytics-btn">
                                         <h4><b> Total Shipping Charge</b></h4>
                                         <h4><b id="shipping_charge"></b></h4>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="analytics-btn">
                                         <h4><b> Total Shipping Cost</b></h4>
                                         <h4><b id="shipping_cost"></b></h4>
                                </div>
                            </div>
                            
                        </section> 
                        <div id="shipping_diff" style="height: 370px; width: 100%;"></div>
                        <div id="shipping_diff_country" style="height: 370px; width: 100%;"></div>
                        <div class="row form-group" id="dynamic_charts"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-container">
                         <section class="row">
                            <div class="col-md-12">
                                <div class="analytics-btn">
                                         <h4><b> Average Revenue per customer</b></h4>
                                         <h4><b id="average_revenue"></b></h4>
                                </div>
                            </div>
                            
                        </section> 
                        <div id="num_of_sales_buyers" style="height: 370px; width: 100%;"></div>
                        <div id="amount_of_sales_buyers" style="height: 370px; width: 100%;"></div>
                        <div id="avg_wait_time" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </section>   



            
        </div>

      


{% endif %}




 {% if tab =='analytics' %}        


         

         <div id="best_selling_products" style="display: none;"> 
            <button class="btn paginate-btn" onclick="showme_list('analytics', ['best_selling_products']);"> <i class="fa fa-arrow-left"></i></button>
             <div>
                <a class="analytics-btn" style="background: #e866ad;" onclick="showme_list('best_selling_products', ['analytics']);">
                     <h1> <b>BEST SELLING PRODUCTS</b> </h1>
                </a>
             </div>
             <h4 class="text-center"> <b>SORT BY: <a onclick="best_selling_products('num_of_sales');" class="btn btn-primary">Number Of Sales</a> <a onclick="best_selling_products('amount_of_sales');" class="btn btn-primary">Amount Of Sales</a> </b></h4>
             <div style="margin-top: 20px; margin-bottom: 20px;" id="top_products">
                 
             </div>
         </div>

         
         
        
{% endif %}



 {% if tab== 'accounts' %}

    <section id="accounts">
            <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                        <div class="analytics-btn">
                             <h4> <b> PAID TOTAL  </b> </h4>
                             <h4 id="paid_total"></h4>
                        </div>
                     </div>
                    <div class="col-md-2">
                        <div class="analytics-btn">
                             <h4> <b>PAID SUBTOTAL</b> </h4>
                             <h4 id="paid_subtotal"></h4>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="analytics-btn">
                             <h4> <b>PAID SHIPPING</b> </h4>
                             <h4 id="paid_shipping"></h4>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="analytics-btn">
                             <h4> <b>PAID GST</b> </h4>
                             <h4 id="paid_gst"></h4>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="analytics-btn">
                             <h4> <b> TOTAL DISCOUNT </b> </h4>
                             <h4 id="discount"></h4>
                        </div>
                     </div>
                     
                </div>

                <div class="row">
                
                   <div class="col-md-6">
                     <div class="table-container"><div id="chartContainer" style="height: 370px; width: 100%;"></div></div>
                   </div>
                   <div class="col-md-6">
                     <div class="table-container"><div id="sales_subtotal" style="height: 370px; width: 100%;"></div></div>
                   </div>

                </div>

               <div class="table-container">
                   <table id="sales_table" class="table">
                       <tr>
                        <td><h4>Sales by Brands</h4></td>
                        <td></td>  
                        <td></td>
                        <td></td>                 
                       </tr>
                   </table>
               </div>
                
               
               
                
            </div>

            <div class="col-md-2" style="min-height: 100vh; background: #fff; padding: 15px;">
                <div style="padding: 30px 15px; font-weight: 900; text-align: center; border:2px solid #000; margin-bottom: 15px;"><h4 id="date_today" style="margin:0;"></h4></div>
                <h4 style="padding: 30px 15px; font-weight: 900; text-align: center; border:2px solid #000; margin-bottom: 15px;"> <b> Associated Orders: </b> <br/> <span id="associated_orders"></span></h4>
                <hr/>

                <h4> <b> Select Date </b></h4>
                <input type="date" name="day" onchange="change_accounts_date(this.value, '');" class="form-control">
                <hr/>
                <h4><b>Select Interval</b></h4>
                <section class="row" style="margin:0;">
                    <div class="form-group col-md-6" style="padding: 0;">
                        <label> From </label>
                        <input type="date" id="start_date" class="form-control">
                    </div>
                    <div class="form-group col-md-6" style="padding: 0;">
                        <label> To </label>
                        <input type="date" id="end_date" class="form-control">
                    </div>                    
                </section>
                <button class="btn btn-primary btn-sm" onclick="change_accounts_date('start_date', 'end_date');"> Get Results </button>
                </div>
            </div>
    </section>
{% endif %} 




