

<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>{% block title%} {%endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin.css')}}">


</head>
<body>


    <div class="container">
        <section class="col-md-6 col-md-offset-3" style="margin-top: 80px;">
		    <div class="box-style3">  


		         {% with messages = get_flashed_messages(with_categories=true)%}
			      {% if messages %}
			        {% for category, message in messages %}
			           <div class="col-md-12"><div class="{{ category }} w3-animate-zoom">{{ message }}</div></div>
			        {% endfor %}
			      {% endif %}
			     {% endwith %}


			        <form action="/login" method="post" role="form" id="login">
                      <h4><b>Login</b></h4>
		              <hr/>
					  {{ form.hidden_tag()}}
                      {{ form.csrf_token }}
                      
                      {% if form.email.errors %}
					        {% for error in form.email.errors %}
					           <div class="alert alert-danger alert-dismissable">
					             <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					             <strong>Alert!</strong> {{ error }}
					           </div>
					        {% endfor %}
					  {% endif %}
					  <div class="form-group">
					     <label class="form-label" for="email"> Email </label>
					     {{ form.email(id="email", class_="form-control")}}
					  </div>


					  {% if form.password.errors %}
					        {% for error in form.password.errors %}
					           <div class="alert alert-danger alert-dismissable">
					             <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					             <strong>Alert!</strong> {{ error }}
					           </div>
					        {% endfor %}
					   {% endif %}
					  <div class="form-group">
					  	 <label class="form-label" for="password"> Password </label>
					     {{ form.password(id="password", class_="form-control")}}
					  </div>
					  <div class="form-group text-center">
					        {{form.submit(class_="btn btn-primary")}}
					  </div>
					  <div class="form-group text-center">
						    <a  onclick="showme('recover'); showme('login')" > Forgot your password? </a>     
					  </div>
				     </form>

				     <form action="/reset" method="post" role="form" autocomplete="off" style="display: none;" id="recover" class="contactform">
				      <h4><b> Recover Password </b></h4>
				      <hr/>
				      <p> We will send you an email to reset your password. </p>
				    
					  {{ form3.hidden_tag()}}
					  {{ form3.csrf_token }}
					  
					  {% if form3.email.errors %}
					        {% for error in form.email.errors %}
					           <div class="alert alert-danger alert-dismissable">
					             <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
					             <strong>Alert!</strong> {{ error }}
					           </div>
					        {% endfor %}
					   {% endif %}
					  <div class="form-group">
					  	 <label class="form-label" for="recover_email"> Email </label>
					     {{ form3.email(id="recover_email", class_="form-control")}}
					  </div>
					  <div class="form-group text-center">
					       {{form3.submit(class_="btn btn-primary")}}
					  </div>
				     </form>
		    </div>
		</section>
    </div>

</body>

 <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
 <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
 <script src="{{url_for('static',filename='js/ajax.js')}}"></script>
 <script src="{{url_for('static',filename='js/app.js')}}"></script>


</body>
</html>		    


