/*------------------------------------------------------------------
[Color codes]
Buttons, etc:	#726FB9 (blue)
hover color:	#fed136 (yellow)
-------------------------------------------------------------------*/
/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Lora:400|Raleway:100,200,300,400,500,700,800);
/*- General -*/
body {
	font-family: "Raleway", Sans-serif;
	-webkit-font-smoothing: antialiased;
}


h1{
	padding: 0;
	margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.04em;
	font-weight: 700;
	font-style: normal;
	font-family: "Raleway", Sans-serif;
	color: #4A4A4A;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
}

img {
	max-width: 100%;
	height: auto;
}
a {
    color: #4A4A4A;	
}
a:hover, a:focus, a:active, a.active {
	color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	text-decoration: none;
}
::selection {
	text-shadow: none;
	background: #fed136;
}
section {
	padding-bottom: 60px;
	padding-top: 100px;
}
section:last-child {
	padding-bottom: 0px;
}

.row-gutter {
	margin-left: -20px;
	margin-right: -20px;
}
.col-gutter {
	padding-left: 20px;
	padding-right: 20px;
}
.sidebar-gutter {
	padding-left: 50px;
}
.navbar .navbar-nav > li > a {
	color:#fff;
}



.LoginForm input, .LoginForm textarea{
	border: 1px solid #ddd; 
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
}

.LoginForm input:focus, .LoginForm textarea:focus{
	box-shadow: none;
	border: 1px solid #222;
}

.LoginForm .btn{
	height: 50px;
	width: 100%;
	margin-top: 20px; 

}

.btn{
	background: linear-gradient(45deg, #01680c 1%, #55c862 100%);
	color: #fff;
	margin-right: 5px;
}
.input-group-btn .btn-dager{
	background:  #f70303;
	color: #fff;
	margin-right: 5px;
}

.btn:hover, .btn:focus{
	color: #fff;
	outline: none;
}


.LoginForm {
	margin-top: 20px;
	margin-bottom: 80px;
}

.LoginForm label{
	font-size: 18px;
	font-weight: 500;
}

.msg{
	text-align: center;
	font-weight: 900;
	font-size: 16px;
	color: brown;
}

.margin-top{
	margin-top: 80px;
}

.margin-bottom{
	margin-bottom: 80px;
} 


#exampleCheck1 {
	text-align: left;
	width: 20px;
	display: block;
}