.navbar-inverse  {
    border-color: #fff;
    background-image: linear-gradient(45deg, #01680c 1%, #55c862 100%);
}

.navbar-inverse .navbar-brand {

    color: #fffdfd;
    font-weight: bold;

}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {

    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);

}
.cellcart{
    color: #fffdfd;
    max-width: 30px;
    max-height: 20px;
    display: inline-block;
    margin-top: 15px; 
    text-align: right;
    
}



@media only screen and (min-width: 760px) {

    .cellcart{
        display: none;
    }
    }