
.table th{
  background: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table tr{
  border: 1px solid #ddd;
}

.example2{
  padding: 15px;
  box-shadow: 5px 5px 5px #ddd;
  border: 1px solid #eee;
  border-radius: 5px;
}

.payment-tile{
  margin-bottom: 40px;
}

.bill{

  line-height: 30px;
  font-size: 16px;

}

img{
   display: inline-block;
}

.distance{
  margin-bottom: 40px;
}

.success img{
  width: 160px;
  display: inline-block;
}